[submodule "subprojects/Stick"]
	path = subprojects/Stick
	url = https://github.com/mokafolio/Stick.git
[submodule "subprojects/Luke"]
	path = subprojects/Luke
	url = https://github.com/mokafolio/Luke.git
[submodule "subprojects/StickLuaSol"]
	path = subprojects/StickLuaSol
	url = https://github.com/mokafolio/StickLuaSol.git
